.container{

padding-top:75px;

padding-bottom:90px;

}

.logo-area{

display:flex;

align-items:center;

gap:10px;

}

.nav-logo{

width:40px;

height:40px;

}

.search-box{

margin-bottom:15px;

}

.banner{

margin-bottom:18px;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.banner img{

width:100%;

height:auto;

display:block;

object-fit:contain;

}

.category-scroll{

display:flex;

gap:10px;

overflow:auto;

margin-bottom:20px;

}

.category-scroll button{

padding:10px 18px;

background:#16a34a;

color:white;

border:none;

border-radius:25px;

white-space:nowrap;

}

h3{

margin:20px 0 15px;

}
