/* =========================
   INBOX TABS
========================= */

.inbox-tabs{

display:flex;

background:#f1f5f9;

padding:4px;

border-radius:12px;

margin-bottom:15px;

box-shadow:0 2px 8px rgba(0,0,0,.08);

}

.inbox-tabs button{

flex:1;

border:none;

background:transparent;

padding:12px;

border-radius:10px;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:.25s;

color:#555;

}

.inbox-tabs button.active{

background:#16a34a;

color:#fff;

box-shadow:0 2px 8px rgba(22,163,74,.25);

}
