body{

background:#f4f6f9;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:20px;

}

.register-page{

width:100%;

max-width:430px;

}

.register-box{

background:white;

padding:30px;

border-radius:22px;

box-shadow:0 10px 35px rgba(0,0,0,.08);

text-align:center;

}

.register-logo{

width:100px;

margin:auto;

margin-bottom:20px;

}

.subtitle{

margin-bottom:25px;

color:#777;

}

.register-box input{

margin-bottom:15px;

}

.google-btn{

width:100%;

padding:14px;

margin-top:15px;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

border:1px solid #ddd;

background:white;

border-radius:12px;

font-weight:bold;

}

.google-btn img{

width:22px;

height:22px;

}

.divider{

margin:20px 0;

position:relative;

color:#999;

}

.divider:before{

content:"";

position:absolute;

left:0;

top:50%;

width:40%;

height:1px;

background:#ddd;

}

.divider:after{

content:"";

position:absolute;

right:0;

top:50%;

width:40%;

height:1px;

background:#ddd;

}

.login-link{

margin-top:20px;

font-size:14px;

}

.login-link a{

color:#16a34a;

font-weight:bold;

}

.message{

margin-top:15px;

color:red;

font-size:14px;

}
