.section-title{

display:block;

font-size:18px;

font-weight:700;

margin-bottom:15px;

}

.upload-area{

border:2px dashed #cbd5e1;

border-radius:22px;

background:#fff;

padding:35px;

text-align:center;

cursor:pointer;

transition:.25s;

margin-bottom:20px;

}

.upload-area:hover{

border-color:#16a34a;

background:#f8fff9;

}

.upload-icon{

width:70px;

height:70px;

margin:auto;

border-radius:50%;

background:#16a34a;

color:#fff;

font-size:42px;

display:flex;

align-items:center;

justify-content:center;

margin-bottom:15px;

}

.upload-area h3{

margin:0;

font-size:20px;

}

.upload-area p{

margin-top:8px;

color:#777;

}

.preview-images{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:10px;

margin-top:15px;

}

.preview-images img{

width:100%;

aspect-ratio:1;

object-fit:cover;

border-radius:15px;

box-shadow:0 4px 12px rgba(0,0,0,.12);

}
